$lavender: #E6E6FA
$background-navy: #4C4CA6

.App
    display: flex
    flex-direction: column


        

.headerCompDiv
    width: 100%
    display: flex
    justify-content: center
    align-items: center

.mappedDiv
    display: grid
    grid-template-columns: repeat(3, 1fr)
    border: 2px solid black
    border-radius: 25px
    padding: 10px 50px
    margin: 25px 50px

.mapped
    display: flex
    flex-direction: column
    justify-content: left
    margin: 1em 2em
    background-color: ivory
    width: 25%
    border-radius: 5px
    
    p
        margin: 0.25em
        background-color: ivory

$mobile-breakpoint-small: 320px
$mobile-breakpoint-large: 1024px

@media (min-width: $mobile-breakpoint-small) and (max-width: $mobile-breakpoint-large)
    .headerText
        text-align: center
    .mappedDiv
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center