input
    background-color: ivory
    border-radius: 2.5px
    margin: 0.5em 2.5em

button
    background-color: ivory
    margin-left: 0.5em
    border-radius: 2.5px
    height: 2em

.mapped
    width: 80%

.updateDiv
    display: flex
    flex-direction: column
    justify-content: left
    margin: 1em 2em
    background-color: ivory
    width: 25%
    border-radius: 5px

    input
        margin: 5px
        background-color: ivory
        height: 2em
    
    button
        margin: 5px
        width: 7.5em
        background-color: #4C4CA6
        color: ivory
    .updateButtonDiv
        border-radius: 2.5px
        background-color: ivory
        display: flex
        align-items: center
        justify-content: center
    