$lavender: #E6E6FA
$background-navy: #4C4CA6

input
    background-color: ivory
    border-radius: 5px
    margin: 0.5em 1.5em
    
.empInput
    font-size: 16px
    text-align: center

.empInput::placeholder
    color: $background-navy

.emailInput
    font-size: 16px
    text-align: center
    grid-column: 1 / span 2
    grid-row: 3

.emailInput::placeholder
    color: $background-navy

button
    background-color: ivory
    margin-left: 0.5em
    border-radius: 2.5px
    height: 2em
    outline: none

.submitButton
    width: 100px
    height: 25px
    background-color: $lavender
    border: 2px solid black
    border-radius: 5px
    margin: 15px 15px
    font-weight: bold

.formButton
    display: flex
    align-items: center
    justify-content: center

.formContainerDiv
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.empForm
    width: 50%
    display: grid
    align-items: center
    justify-content: center
    grid-template-columns: auto auto
    grid-template-rows: auto auto auto
    background-color: ivory
    border: 5px solid black
    border-radius: 5px

$mobile-breakpoint-small: 320px
$mobile-breakpoint-large: 1024px

@media (min-width: $mobile-breakpoint-small) and (max-width: $mobile-breakpoint-large)

    .empForm
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        .empInput
            width: 20em

        .formButton
            display: flex
            align-items: center
            justify-content: center

    .emailInput
        width: 20em
        font-size: 16px
        text-align: center

    .emailInput::placeholder
        color: $background-navy